In [5]:
import numpy as np
import pandas as pd

In [6]:

data = pd.read_csv('alloy-confp-train-data_v2.csv')
data

      ID   HV      C.al      C.co      C.cr      C.cu      C.fe      C.ni
0      7  139  0.000000  0.250000  0.250000  0.000000  0.250000  0.250000
1     48  295  0.153846  0.307692  0.153846  0.076923  0.153846  0.153846
2    108  545  0.222222  0.111111  0.000000  0.222222  0.222222  0.222222
3    146  701  0.428571  0.214286  0.071429  0.071429  0.071429  0.142857
4     37  207  0.090909  0.181818  0.181818  0.181818  0.181818  0.181818
..   ...  ...       ...       ...       ...       ...       ...       ...
115   42  249  0.166667  0.333333  0.000000  0.166667  0.166667  0.166667
116   72  450  0.117647  0.000000  0.294118  0.000000  0.441176  0.147059
117   73  451  0.166667  0.250000  0.166667  0.083333  0.166667  0.166667
118  135  617  0.166667  0.166667  0.333333  0.000000  0.166667  0.166667
119   28  171  0.000000  0.212575  0.212575  0.212575  0.149701  0.212575

[120 rows x 8 columns]

In [7]:
# cols = [] #input from table
# power = [] #input from user

In [11]:
def with_powers(cols, power):
    data = pd.read_csv('alloy-confp-train-data_v2.csv')
    
    selected_col = data[cols]
    powered_data = selected_col ** power
    
    return powered_data

def product_of_powers(cols, power):
        result = with_powers(cols, power)

        product_col = result[cols[0]] * result[cols[1]]
        product_df = pd.DataFrame({'Product': product_col})

        return product_df


cols = ['C.al', 'C.cr']
powers = [2, 3]

res = product_of_powers(cols, powers)
name = "new_col_1"
data[name] = res['Product'] 

print(data)

      ID   HV      C.al      C.co      C.cr      C.cu      C.fe      C.ni  \
0      7  139  0.000000  0.250000  0.250000  0.000000  0.250000  0.250000
1     48  295  0.153846  0.307692  0.153846  0.076923  0.153846  0.153846
2    108  545  0.222222  0.111111  0.000000  0.222222  0.222222  0.222222
3    146  701  0.428571  0.214286  0.071429  0.071429  0.071429  0.142857
4     37  207  0.090909  0.181818  0.181818  0.181818  0.181818  0.181818
..   ...  ...       ...       ...       ...       ...       ...       ...
115   42  249  0.166667  0.333333  0.000000  0.166667  0.166667  0.166667
116   72  450  0.117647  0.000000  0.294118  0.000000  0.441176  0.147059
117   73  451  0.166667  0.250000  0.166667  0.083333  0.166667  0.166667
118  135  617  0.166667  0.166667  0.333333  0.000000  0.166667  0.166667
119   28  171  0.000000  0.212575  0.212575  0.212575  0.149701  0.212575

     new_col_1
0     0.000000
1     0.000086
2     0.000000
3     0.000067
4     0.000050
..         ...
115   0.000000
116   0.000352
117   0.000129
118   0.001029
119   0.000000

[120 rows x 9 columns]